<!---
    HOME PAGE

    NOTE :
    > all items lead to item.html

    TODO :
    [ ] connect to db
    [ ] connect to succeeding pages
--->

<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="../public/common/style_mgmt.css">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Notable&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- NAVIGATION -->
        <header>
            <nav>
                <div class="nav-links">
                    <a href="" style="font-weight: bold;">Home</a>
                    <a href="beans.html">Beans</a>
                    <a href="">About Us</a>
                </div>

                <img src="images/logo.png" class="logo" alt="Cool Beans Logo" />

                <div class="nav-icons">
                    <a href=""><img src="images/search.png" class="icons" /></a>
                    <a href=""><img src="images/shopping-cart.png" class="cart-icon" /></a>
                    <a href=""><img src="images/user.png" class="icons" /></a>
                </div>
            </nav>
        </header>

        <!-- CART POPUP -->
        <!-- NOTE : these are placeholders -->
        <div class="cart-container"> 
            <div class="cart-content">
                <h3>Your Cart</h3>
                <hr> 
                <div class="item">
                    <img src="images/coffee-bag.png" class="cart-item-img" />
                    <div class="cart-info">
                        <h5>Arabica</h5>
                        <p class="price">P250.00</p>
                        <div class="qty-row">
                            <span>Quantity:</span>
                        <div class="qty-selector">
                            <button>-</button> <span>1</span> <button>+</button>
                        </div>
                    </div>
                    <p class="item-total">Total: P250.00</p>
                    </div>
                    <button class="delete-btn"><img src="images/bin.png"></button>
                </div>
                
                <div class="cart-footer">
                    <hr>
                    <div class="subtotal-row">
                        <span class="label">Subtotal:</span>
                        <span class="amount">P250.00</span>
                    </div>
                    <button class="checkout-btn" onclick="location.href='checkout.html'">Checkout</button>
                </div>
            </div>
        </div>

        <!-- TOP PART -->
        <section class="top-container">
            <div class="top">
                <img src="images/coffee.png" />
                <h1 style="font-family: Notable;">Cool Ka<br>Muna!</h1>
            </div>

            <p>Coffee with a cause.</p>
        </section>


        <!-- COFFEE BEAN SELECTION -->
        <!-- NOTE : coffee bean items should come from the database -->
        <section class="selection">
            <h2>Coffee Beans</h2>
            
            <div class="product-row">
                <div class="product-items">
                    <div class="bean-item">
                        <a href="item.html">
                            <h4>Arabica</h4>
                            <p>P250.00</p>
                            <img src="images/coffee-bag.png">
                        </a>
                        
                        <div class="controls">
                            <div class="qty-selector">
                                <button>-</button> <span>1</span> <button>+</button>
                            </div>
                            <button class="add-btn">Add to Cart</button>
                        </div>
                    </div>

                    <div class="bean-item" onclick="">
                        <a href="item.html">
                            <h4>Liberica</h4>
                            <p>P250.00</p>
                            <img src="images/coffee-bag.png">
                        </a>
                        
                        <div class="controls">
                            <div class="qty-selector">
                                <button>-</button> <span>1</span> <button>+</button>
                            </div>
                            <button class="add-btn">Add to Cart</button>
                        </div>
                    </div>

                    <div class="bean-item" onclick="">
                        <a href="item.html">
                            <h4>Robusta</h4>
                            <p>P250.00</p>
                            <img src="images/coffee-bag.png">
                        </a>
                        
                        <div class="controls">
                            <div class="qty-selector">
                                <button>-</button> <span>1</span> <button>+</button>
                            </div>
                            <button class="add-btn">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product-row">
                <div class="product-items">
                    <div class="bean-item">
                        <a href="item.html">
                            <h4>Arabica</h4>
                            <p>P250.00</p>
                            <img src="images/coffee-bag.png">
                        </a>
                        
                        <div class="controls">
                            <div class="qty-selector">
                                <button>-</button> <span>1</span> <button>+</button>
                            </div>
                            <button class="add-btn">Add to Cart</button>
                        </div>
                    </div>

                    <div class="bean-item" onclick="">
                        <a href="item.html">
                            <h4>Liberica</h4>
                            <p>P250.00</p>
                            <img src="images/coffee-bag.png">
                        </a>
                        
                        <div class="controls">
                            <div class="qty-selector">
                                <button>-</button> <span>1</span> <button>+</button>
                            </div>
                            <button class="add-btn">Add to Cart</button>
                        </div>
                    </div>

                    <div class="bean-item" onclick="">
                        <a href="item.html">
                            <h4>Robusta</h4>
                            <p>P250.00</p>
                            <img src="images/coffee-bag.png">
                        </a>
                        
                        <div class="controls">
                            <div class="qty-selector">
                                <button>-</button> <span>1</span> <button>+</button>
                            </div>
                            <button class="add-btn">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

            <a href="beans.html" style="color: #EA672D">See More</a>
        </section>


        <!-- FARMER FACT -->
        <section class="fact">
            <img src="images/coffee-farmer.jpeg" />
            <div class="info">
                <h3>Every purchase helps a<br>local farmer!</h3>
                <p>cool beans is dedicated to empowering Filipino farmers from various regions, helping them bring their harvest directly to your cup.</p>
            </div>
        </section>


        <!-- TESTIMONIALS -->
        <section class="testimonials-container">
            <h2>Hear From Our Customers</h2>

            <div class="testimonials">
                <div class="testimony">
                    <h4>Best Arabica in Town!</h4>
                    <p>The roast is perfect and the aroma fills my whole house every morning. You can really taste the quality of the local beans.</p>
                    <h5>- Miguel S.</h5>
                </div>

                <div class="testimony">
                    <h4>Coffee with a Heart</h4>
                    <p>I love knowing that my caffeine fix helps support our local farmers in Benguet. It makes every sip taste even better!</p>
                    <h5>- Anna R.</h5>
                </div>

                <div class="testimony">
                    <h4>Just Amazing!</h4>
                    <p>The beans arrived just a few days after roasting. Best Bukidnon Robusta I've ever had. Solid 10/10 experience!</p>
                    <h5>- Juan D.</h5>
                </div>
            </div>
        </section>


        <!-- FOOTER -->
        <footer>
            <img src="images/logo.png" />
            
            <table>
                <tr>
                    <td>
                        <a href="">About Us</a>
                    </td>
                    <td>
                        <a href="">Terms & Conditions</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="">Contact Us</a>
                    </td>
                    <td>
                        <a href="">How to Order</a>
                    </td>
                </tr>
            </table>
        </footer>
    </body>

    <!-- cart popup script -->
    <script method="post">
        const showPopupCart = document.querySelector('.cart-icon');
        const popupContainerCart = document.querySelector('.cart-container');

    showPopupCart.onclick = (e) => {
        e.preventDefault();
        popupContainerCart.classList.toggle('active'); 
    };

    window.onclick = (e) => {
        if (!popupContainerCart.contains(e.target) && !showPopupCart.contains(e.target)) {
            popupContainerCart.classList.remove('active');
        }
    };
    </script>
</html>
