<!---
    ITEM PAGE / SPECIFIC BEAN OR PRODUCT

    NOTE :
    > all items lead to item.html
    > breadcrumbs are hardcoded

    TODO :
    [ ] connect to db
    [ ] connect to succeeding pages
--->

<!DOCTYPE html>
<html>
    <head>
        <!-- TODO : don't forget to change this -->
        <title>Arabica</title>
        <link rel="stylesheet" href="style.css">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Notable&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    </head>

    <body>  
        <!-- NAVIGATION -->
        <header>
            <nav>
                <div class="nav-links">
                    <a href="home.html">Home</a>
                    <a href="beans.html">Beans</a>
                    <a href="">About Us</a>
                </div>

                <img src="images/logo.png" class="logo" alt="Cool Beans Logo" />

                <div class="nav-icons">
                    <a href=""><img src="images/search.png" class="icons" /></a>
                    <a href=""><img src="images/shopping-cart.png" class="cart-icon" /></a>
                    <a href=""><img src="images/user.png" class="icons" /></a>
                </div>
            </nav>
        </header>

        <!-- CART POPUP -->
        <!-- NOTE : these are placeholders -->
        <div class="cart-container"> 
            <div class="cart-content">
                <h3>Your Cart</h3>
                <hr> 
                <div class="item">
                    <img src="images/coffee-bag.png" class="cart-item-img" />
                    <div class="cart-info">
                        <h5>Arabica</h5>
                        <p class="price">P250.00</p>
                        <div class="qty-row">
                            <span>Quantity:</span>
                        <div class="qty-selector">
                            <button>-</button> <span>1</span> <button>+</button>
                        </div>
                    </div>
                    <p class="item-total">Total: P250.00</p>
                    </div>
                    <button class="delete-btn"><img src="images/bin.png"></button>
                </div>
                
                <div class="cart-footer">
                    <hr>
                    <div class="subtotal-row">
                        <span class="label">Subtotal:</span>
                        <span class="amount">P250.00</span>
                    </div>
                    <button class="checkout-btn" onclick="location.href='checkout.html'">Checkout</button>
                </div>
            </div>
        </div>

        <!-- BREADCRUMB (hardcoded for now) -->
        <div class="breadcrumb">
            <p>Home > Beans > Arabica</p>
        </div>

        <!-- SPECIFIC PRODUCT -->
        <div class="product-container">
            <div class="left-panel">
                <img src="images/coffee-bag.png" />
            </div>
            

            <div class="right-panel">
                <div class="description">
                    <h3>Arabica</h3>
                    <pre>
Arabica coffee is the world's most popular
coffee, comprising 60-70% of global production,
prized for its superior, smooth, and nuanced 
flavor profile.
                    </pre>
                    
                    <table>
                        <tr>
                            <td style="font-weight: bold;">Origin City:</td>
                            <td>Cavite City</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Local Farmer: </td>
                            <td>Old McDonald</td>
                        </tr>
                    </table>

                    <h4>P250.00</h4>
                </div>

                <div class="option">
                    <div class="controls">
                        <div class="qty-selector">
                            <button>-</button> <span>1</span> <button>+</button>
                        </div>
                        <button class="add-btn">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- FOOTER -->
        <footer>
            <img src="images/logo.png" />
            
            <table>
                <tr>
                    <td>
                        <a href="">About Us</a>
                    </td>
                    <td>
                        <a href="">Terms & Conditions</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="">Contact Us</a>
                    </td>
                    <td>
                        <a href="">How to Order</a>
                    </td>
                </tr>
            </table>
        </footer>
    </body>

    <!-- cart popup script -->
    <script method="post">
        const showPopupCart = document.querySelector('.cart-icon');
        const popupContainerCart = document.querySelector('.cart-container');

    showPopupCart.onclick = (e) => {
        e.preventDefault();
        popupContainerCart.classList.toggle('active'); 
    };

    window.onclick = (e) => {
        if (!popupContainerCart.contains(e.target) && !showPopupCart.contains(e.target)) {
            popupContainerCart.classList.remove('active');
        }
    };
    </script>
</html>
